<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thardchi Ganesalingam</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel='stylesheet' href='https://unpkg.com/emoji.css/dist/emoji.min.css'>
</head>

<body>
    <!-- HEADER -->
    <header>
        <nav class="navbar">
            <div>
                <a href="../index.html" class="nav_logo">Thardchi Ganesalingam</a>
            </div>

            <div class="nav_menu" id="nav_menu">
                <ul>
                    <li>
                        <a href="../index.html" class="nav_link active">Home</a>
                    </li>
                    <li>
                        <a href="experience.html" class="nav_link active">Projects</a>
                    </li>
                    <li>
                    <a href="https://drive.google.com/file/d/1WBdNBqni644h46SN6IIOXEGaLKoc4M5w/view?usp=sharing"
                        class="nav_link active">Resume</a>
                    </li>
                    <!-- <li>
                        <a href="#contact" class="nav_link active">Contact</a>
                    </li> -->
                </ul>
            </div>
        </nav>
        <section class="header_exp">
            <!-- <img alt="Thardchi Ganesalingam" loading="lazy" width="140" height="140" decoding="async" data-nimg="1"
                style="color:transparent" src="../assets/images/glasses.png"> -->
            <div class="header_data">
                <!-- <span class="ec ec-eyeglasses"></span> -->
                <h1 class="my-name">
                    My projects.
                </h1>
                <h1 class="subtitle">
                    A collection of my work 🔍</h1>
            </div>
        </section>
    </header>

    <!-- Cards -->
    

    <!-- Project Cards -->
    <div class="main">
        <div class="container">

            <div class="box">
                <div class="box-content">
                    <img style="width: 43%; height: 70%; padding-top: 4%;" src="../assets/images/ECE552card.png" alt="Box Image">
                    <div class="box-text">
                        <h2 class="box-title">Computer Architecture Assignments</h2>
                        <h3 class="box-subtitle">ECE552<br>University of Toronto | Toronto, ON</br>
                        </h3>
                        <a href="https://github.com/thardchi/ECE552" class="a_header">
                            <button class="double_button">Learn more</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-content">
                    <img style="width: 43%;" src="../assets/images/hurriscan.png" alt="Box Image">
                    <div class="box-text">
                        <h2 class="box-title">HurriScan - Forecasting Hurricane Intensity Using Deep Learning</h2>
                        <h3 class="box-subtitle">APS360 Final Project<br>University of Toronto | Toronto, ON</br>
                        </h3>
                            <a href="https://github.com/thardchi/HurriScan" class="a_header">
                                <button class="double_button">Learn more</button>
                            </a>
                            <a href="https://drive.google.com/file/d/19rEmTvcj-dvJqhJ7uodOpZdjCWpxrR81/view?usp=sharing" class="a_header">
                                <button class="double_button_two">Demo</button>
                            </a>
                    </div>
                </div>
            </div>


            <div class="box">
                <div class="box-content">
                    <img src="../assets/images/arms.jpg" alt="Box Image">
                    <div class="box-text">
                        <h2 class="box-title">Multi-Arm Robotic Task Sequence Execution</h2>
                        <h3 class="box-subtitle">Robotics/Software Engineering Intern<br>Mission Control | Ottawa, ON</br></h3>
                        <!-- <p class="box-description">Multi-robot task sequencing representative of an in-orbit servicing mission to generate dataset for satellite pose
                        estimation model training</p> -->
                        <a href="./robot.html" class="a_header">
                            <button class="project_button">Learn more</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-content">
                    <img src="../assets/images/solder.jpeg" alt="Box Image">
                    <div class="box-text">
                        <h2 class="box-title">Power Amplifier and Low Pass Filter for a Software Defined Radio</h2>
                        <h3 class="box-subtitle">Hardware Design (ECE295) Final Project<br>University of Toronto | Toronto, ON</br></h3>
                        <a href="https://thardchi.github.io/ECE295/" class="a_header">
                            <button class="project_button">Learn more</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-content">
                    <img src="../assets/images/modelsim.png" alt="Box Image" style="width: 43%;">
                    <div class="box-text">
                        <h2 class="box-title">16-bit processor using Verilog to operate on a DE1-SoC FPGA board</h2>
                        <h3 class="box-subtitle">Computer Organization (ECE243) Final Group Project<br>University of Toronto | Toronto, ON</br></h3>
                        <a href="./processor.html" class="a_header">
                            <button class="project_button">Learn more</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-content">
                    <img src="../assets/images/tces.png" alt="Box Image" style="width: auto; height: 127%;">
                    <div class="box-text">
                        <h2 class="box-title">CRM for Toronto Community Employment Services</h2>
                        <h3 class="box-subtitle">Developer<br>UofT Blueprint | Toronto, ON</br>
                        </h3>
                        <a href="https://github.com/uoftblueprint/tces" class="a_header">
                            <button class="project_button">Learn more</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-content">
                    <img src="../assets/images/peta.png" alt="Box Image" style="width: 85%;">
                    <div class="box-text">
                        <h2 class="box-title">Configured a Zynq SoM and booted PetaLinux</h2>
                        <h3 class="box-subtitle">Robotics/Software Engineering Intern<br>Mission Control | Ottawa, ON</br></h3>
                        <a href="./petalinux.html" class="a_header">
                            <button class="project_button">Learn more</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-content">
                    <img src="../assets/images/tutoron.png" alt="Box Image" style="width: 43%; height: auto;">
                    <div class="box-text">
                        <h2 class="box-title">Tutor-ON | Free Online Tutoring Platform</h2>
                        <h3 class="box-subtitle">Founder<br>Toronto, ON</br></h3>
                        <a href="https://thardchi.wixsite.com/tutoron" class="a_header">
                            <button class="project_button">Learn more</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-content">
                    <img src="../assets/images/helmcage.png" alt="Box Image" style="width: 47%;">
                    <div class="box-text">
                        <h2 class="box-title">Helmholtz Cage</h2>
                        <h3 class="box-subtitle">Electrical AIT Lead<br>UofT Aerospace Team | Toronto, ON</br></h3>
                        <a href="" class="a_header">
                            <button class="project_button">In progress</button>
                        </a>
                    </div>
                </div>
            </div>



        </div>
        
    </div>




    <!-- <div class="main">
        <div class="box_body">
            <div class="box">
                <div class="box_img1"></div>
                <div class="box-content">
                    <div class="box_text">
                        <h2 class="h2_box">Mission Control</h2>
                        <h3 class="h3_box">Robotics/Software Engineering Intern</h3>
                        <h4 class="h4_box">May 2023 - Aug 2023</h3>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box_img2"></div>
                <div class="box-content">
                    <div class="box_text">
                        <h2 class="h2_box">UofT Aerospace Team</h2>
                        <h3 class="h3_box">ADCS Electrical Testing Lead</h3>
                        <h4 class="h4_box">May 2023 - Aug 2023</h3>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-content">
                    <h2>Card Title 3</h2>
                    <p>This is some additional information about the card.</p>
                </div>
            </div>

            <div class="box">
                <div class="box-content">
                    <h2>Card Title 4</h2>
                    <p>This is some additional information about the card.</p>
                </div>
            </div>
        </div>
    </div> -->



    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <p>&copy; 2023 Thardchi Ganesalingam</p>
            <a href="https://www.linkedin.com/in/thardchi/">LinkedIn</a>
            <a href="#footer">|</a>
            <a href="https://github.com/thardchi">GitHub</a>
            <a href="#footer">|</a>
            <a href="mailto:thardchi.ganesalingam@mail.utoronto.ca">Email</a>
        </div>
    </footer>
</body>

</html>