<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thardchi Ganesalingam</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>

<body>
    <!-- HEADER -->
    <header>
        <nav class="navbar">
            <div>
                <a href="#" class="nav_logo">Thardchi Ganesalingam</a>
            </div>

            <div class="nav_menu" id="nav_menu">
                <ul>
                    <li>
                        <a href="../index.html" class="nav_link active">Home</a>
                    </li>
                    <li>
                        <a href="../components/experience.html" class="nav_link active">Experience</a>
                    </li>
                    <li>
                        <a href="projects.html" class="nav_link active">Projects</a>
                    </li>
                    <li>
                        <a href="#contact" class="nav_link active">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="header">
            <div class="header_data">
                <h1 class="my-name">
                    My projects.
                </h1>
                <h1 class="subtitle">
                    Take a look at what's new</h1>
            </div>
        </section>
    </header>

    <!-- Project Cards -->
    <div class="main">
        <div class="card_body">
            <div class="card">
                <div class="card-front">
                    <img src="" alt="Project Image" class="card_img">
                    <h2 class="card-title">Project Name 1</h2>
                    <p class="card-subtitle">Place - Time</p>
                </div>
                <div class="card-back">
                    <h3>More Information</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id magna id ligula ultrices congue.</p>
                    <!-- Add more content here -->
                </div>
            </div>

            <div class="card">
                <div class="card-front">
                    <img src="project-image.jpg" alt="Project Image">
                    <h2 class="card-title">Project Name 2</h2>
                    <p class="card-subtitle">Place - Time</p>
                </div>
                <div class="card-back">
                    <h3>More Information</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id magna id ligula ultrices congue.</p>
                    <!-- Add more content here -->
                </div>
            </div>

            <div class="card">
                <div class="card-front">
                    <img src="project-image.jpg" alt="Project Image">
                    <h2 class="card-title">Project Name 3</h2>
                    <p class="card-subtitle">Place - Time</p>
                </div>
                <div class="card-back">
                    <h3>More Information</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id magna id ligula ultrices congue.</p>
                    <!-- Add more content here -->
                </div>
            </div>

            <div class="card">
                <div class="card-front">
                    <img src="project-image.jpg" alt="Project Image">
                    <h2 class="card-title">Project Name 4</h2>
                    <p class="card-subtitle">Place - Time</p>
                </div>
                <div class="card-back">
                    <h3>More Information</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id magna id ligula ultrices congue.</p>
                    <!-- Add more content here -->
                </div>
            </div>

            <div class="card">
                <div class="card-front">
                    <img src="project-image.jpg" alt="Project Image">
                    <h2 class="card-title">Project Name 5</h2>
                    <p class="card-subtitle">Place - Time</p>
                </div>
                <div class="card-back">
                    <h3>More Information</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id magna id ligula ultrices congue.</p>
                    <!-- Add more content here -->
                </div>
            </div>

        </div>


    </div>

  

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <p>&copy; 2023 Thardchi Ganesalingam</p>
            <a href="https://www.linkedin.com/in/thardchi/">LinkedIn</a>
            <a href="#footer">|</a>
            <a href="https://github.com/thardchi">GitHub</a>
            <a href="#footer">|</a>
            <a href="mailto:thardchi.g@gmail.com">Email</a>
        </div>
    </footer>
</body>

</html>